<div layout="row" class="padding-left-right-10">
    <h1 class="md-headline">{{ header }}</h1>
    <md-button class="md-fab md-primary md-mini add" aria-label="Add" ng-click="toggleAdd()">
        <md-icon md-svg-src="assets/img/icons/add.svg" class="s24"></md-icon>
    </md-button>
    <span flex></span>
    <md-button class="md-raised trash" aria-label="trash" ng-class="{'md-accent': inTrash}" ng-click="inTrash = !inTrash">Trash</md-button>
</div>
<md-content class="items-container padding-left-right-10" ng-init="init()" flex>
    <p ng-if="noItems()">There are no item here.</p>
    <md-card class="tile active" ng-if="isAdding">
        <div class="tile-container" layout="column">
            <div class="tile-header" layout="row">
                <div flex class="tile-title" layout="row">
                    <md-button md-no-ink class="md-icon-button" aria-label="add">
                        <md-icon md-svg-icon="assets/img/icons/keyboard-arrow-right.svg"></md-icon>
                    </md-button>
                    <p>Add new item</p>
                </div>
            </div>
            <div class="tile-item-edit" layout="column">
                <div layout="row" ng-transclude>
                    <!-- edit form -->
                </div>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="add()">Save</md-button>
                    <md-button class="md-raised md-secondary" ng-click="toggleAdd()">Cancel</md-button>
                </div>
            </div>
        </div>
    </md-card>
    <md-card ng-repeat="item in items | filter: trashFilter" class="tile" ng-class="{'active': item.isEditing}">
        <div class="tile-container" layout="column">
            <div class="tile-header" layout="row">
                <div flex class="tile-title" ng-click="toggleEdit(item)" layout="row">
                    <md-button md-no-ink class="md-icon-button" aria-label="edit">
                        <md-icon md-svg-icon="assets/img/icons/keyboard-arrow-right.svg"></md-icon>
                    </md-button>
                    <p>{{ item.name }} </p>
                </div>
                <md-button class="md-icon-button tile-header-button" aria-label="visibility" ng-click="setStatus(item)">
                    <md-icon ng-if="item.status == 1" md-svg-icon="assets/img/icons/visibility-off.svg" class="s24"></md-icon>
                    <md-icon ng-if="item.status != 1" md-svg-icon="assets/img/icons/visibility.svg" class="s24"></md-icon>
                </md-button>
                <md-button class="md-icon-button tile-header-button" aria-label="trash" ng-click="setTrashStatus(item)">
                    <md-icon ng-if="item.isDeleted != 1" md-svg-icon="assets/img/icons/delete.svg" class="s24"></md-icon>
                    <md-icon ng-if="item.isDeleted == 1" md-svg-icon="assets/img/icons/reply.svg" class="s24"></md-icon>
                </md-button>
            </div>
            <div class="tile-item-edit" ng-if="item.isEditing" layout="column">
                <div layout="row" ng-transclude>
                    <!-- edit form -->
                </div>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="update()">Save</md-button>
                    <md-button class="md-raised md-secondary" ng-click="toggleEdit(item)">Cancel</md-button>
                </div>
            </div>
        </div>
    </md-card>
</md-content>