<md-card ng-repeat="item in items" class="tile" ng-click="toggleEdit(item)">
    <div class="tile-container" layout="column">
        <div class="tile-header" layout="row">
            <md-icon md-svg-icon="assets/img/icons/keyboard_arrow_right.svg"></md-icon>
            <p>{{ item.name }} </p>
        </div>
        <div class="tile-item-edit" ng-show="item.isEditing">
            blah blah blah
            <br />
            blah blah blah
        </div>
    </div>
    <md-divider></md-divider>
</md-card>