.md-sidenav-left, .md-sidenav-left.md-locked-open {
    min-width: 260px;
    width: 260px;
}
.md-sidenav-left md-content, .md-sidenav-left.md-locked-open md-content {
    background: transparent;
}
.sidenav-menu {
    padding: 0;
}
.sidenav-menu a {
    margin: 0;
    padding: 0 20px;
    text-align: left;
}
.sidenav-menu a:hover {
    background-color: #ccc;
}
.sidenav-menu a.md-button {
    border-radius: 0;
}
.sidenav-submenu {
    padding: 0;
}
.sidenav-submenu a{
    padding: 0 20px 0 40px;
    text-transform: capitalize;
    font-weight: normal;
}
md-backdrop.md-sidenav-backdrop {
    top: 0;
}

button.md-button.logo {
    color: #FFF;
}
button.md-button.tile-header-button {
    margin: 0;
}
button.md-button.tile-header-button md-icon:focus{
    outline: none;
}
button.md-button.trash {
    margin: 18px 0;
}
button.md-button.add {
    margin: 16px 15px;
}

md-card.tile {
    border-radius: 0;
    margin: 1px;
}
md-card.tile.active {
    margin: 15px 0;
    background-color: #F9F9F6;
}
md-card.tile.active:first-child {
    margin: 0 0 15px 0;
}

md-card.tile .tile-header .tile-title:focus {
    outline: none;
}
md-card.tile .tile-header {
    cursor: hand;
    cursor: pointer;
}
md-card.tile .tile-item-edit {
    padding: 0 10px 10px 10px;
}

.ajax-loading {
    z-index: 999;
    top: 0;
    display: none;
}
.ajax-loading.active {
    display: block;
}
.ajax-loading .progress-circular {
    top: 45%;
    left: 50%;
}

md-icon.s16 {
    height: 16px;
    width: 16px;
}
md-icon.s24 {
    height: 24px;
    width: 24px;
}

.padding-left-10, .padding-left-right-10 {
    padding-left: 10px;
}
.padding-right-10, .padding-left-right-10 {
    padding-right: 10px;
}

